[Unit]
Description=Enphase2emon service
After=network.target

[Service]
ExecStart=/home/pi/Enphase2emon/E2EDaemon.py
WorkingDirectory=/home/pi/Enphase2emon/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
